<?xml version="1.0" encoding="UTF-8"?>
<java version="13.0.2" class="java.beans.XMLDecoder">
 <object class="java.util.ArrayList">
  <void method="add">
   <object class="com.company.Fruit">
    <void property="color">
     <string>red</string>
    </void>
    <void property="name">
     <string>Apple</string>
    </void>
   </object>
  </void>
  <void method="add">
   <object class="com.company.Fruit">
    <void property="color">
     <string>yellow</string>
    </void>
    <void property="name">
     <string>Banana</string>
    </void>
   </object>
  </void>
  <void method="add">
   <object class="com.company.Citrus">
    <void property="color">
     <string>yellow</string>
    </void>
    <void property="name">
     <string>Lemon</string>
    </void>
    <void property="vitaminC">
     <double>25.3</double>
    </void>
   </object>
  </void>
  <void method="add">
   <object class="com.company.Fruit">
    <void property="color">
     <string>yellow</string>
    </void>
    <void property="name">
     <string>Melon</string>
    </void>
   </object>
  </void>
  <void method="add">
   <object class="com.company.Citrus">
    <void property="color">
     <string>orange</string>
    </void>
    <void property="name">
     <string>Tangerine</string>
    </void>
    <void property="vitaminC">
     <double>12.3</double>
    </void>
   </object>
  </void>
  <void method="add">
   <object class="com.company.Fruit">
    <void property="color">
     <string>yellow</string>
    </void>
    <void property="name">
     <string>melon</string>
    </void>
   </object>
  </void>
  <void method="add">
   <object class="com.company.Citrus">
    <void property="color">
     <string>red</string>
    </void>
    <void property="name">
     <string>watermelone</string>
    </void>
    <void property="vitaminC">
     <double>34.0</double>
    </void>
   </object>
  </void>
 </object>
</java>
