<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WordpressTest">
    <test name="Test">
        <parameter name="title" value="123"></parameter>
        <parameter name="content" value="content"></parameter>
        <parameter name="login" value="test"></parameter>
        <parameter name="password" value="test"></parameter>
        <classes>
            <class name="CommonTest">
                <methods>
                    <include name="LoginTest"/>
                    <include name="AddNewDraftTest"/>
                    <include name="DeleteDraftTest"/>
                    <include name="LogoutTest"/>
                </methods>
            </class> <!-- CommonTest -->
        </classes>
    </test> <!-- Test -->
</suite> <!-- WordpressTest -->
