<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="IndividualTask">
    <test name="Individual">
        <parameter name="expected" value="Fruit - Lemon has yellow color and contain 10.1 grams of VitaminC."></parameter>
        <classes>
            <class name="com.company.FruitTest">
                <methods>
                    <include name="OutputTest"/>
                    <include name="DeserializationTest"/>
                    <include name="SortingTest"/>
                </methods>
            </class> <!-- com.company.FruitTest -->
        </classes>
    </test> <!-- Individual -->
</suite> <!-- Default Suite -->